.App {
  font-family: 'Georgia', sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px;
  box-sizing: border-box;
  
}
* {
  justify-content: center;
}
body {
  background-image: url('https://images.unsplash.com/photo-1617653815872-905656341348?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx2aXN1YWwtc2VhcmNofDEwNHx8fGVufDB8fHx8fA%3D%3D');
  background-size: 300px 600px;
  background-position: center;
  background-color: #927c60;
  background-repeat: repeat;
  background-attachment: fixed;
}

h1 {
  color: #f2e5d8;
  text-shadow: 2px 2px 4px #391d08;
  font-family: 'raleway', serif;
  font-weight: 600;
  font-size: 2.7em;
  margin: 20px 0;
  background-color: #231709;
}
h1:after, h1:before {
  content: " ";
  display: block;
  border-bottom: 2px solid #d2bca0;
  border-top: 2px solid #d2bca0;
  height: 5px;
}

h3 {
  color: #f2e5d8;
  text-shadow: 2px 2px 4px #391d08;
  font-family: 'raleway', serif;
  font-weight: 400;
  font-size: 1.4em;
  word-spacing: 1px;
  border: 2px solid #9a7b4f;
  background-color: #231709;
}
h3:after, h3:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #9a7b4f;
  border-top: 1px solid #9a7b4f;
  height: 5px;
background-color: #231709;
}

.emotions {
  margin-bottom: 20px;
  font-size: 1.1em;
}

.emotions button {
  margin: 5px;
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid #d2bca0;
  border-radius: 5px;
  background-color: #231709;
}

.emotions button:hover {
  background-color: #d2bca0;
  color: black;
}

.emotions button.selected {
  background-color: #d2bca0; 
  color: white;
}

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book {
  margin: 10px;
  padding: 10px;
  border: 1px solid #d2bca0;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  background-color: #170f06;

}

.book img {
  max-width: 150px;
  height: auto;
  margin-bottom: 10px;
}

.search-container {
  margin-bottom: 20px;
}

.search-container input {
  padding: 8px;
  margin-right: 10px;
  background-color: #231709;

}

.search-container button {
  padding: 8px 15px;
  cursor: pointer;
  border: 1px solid #d2bca0;
  border-radius: 5px;
  background-color: #231709;
}